<footer>
  <div class="div-contenedor">
    <div class="div-contacto">
      <ul>
        <li><a href="mailto:hola@gmail.co" target="_blank"><img src="../../../assets/email.png" />{{email}}</a></li>
        <li><a href="#"><img src="../../../assets/whatsapp.png" />324-4003820</a></li>
      </ul>
    </div>
    <div class="div-sup-derechos">
      <div class="div-derechos">
        <hr class="hr-1" />
        <p>© 2024 | North Computer | Jose David Quintero</p>
      </div>
    </div>
    <div class="div-ul-img">
      <ul>
        <li><a href="#"><img src="../../../assets/facebook.png" /> Facebook</a></li>
        <li><a href="#"><img src="../../../assets/instagram.png" />Instagram</a></li>
        <li><a href="#"><img src="../../../assets/linkedin.png" />LinkedIn</a></li>
        <li><a href="#"><img src="../../../assets/twitter.png" />Twitter</a></li>
        <li><a href="#"><img src="../../../assets/youtube.png" />Youtube</a></li>
      </ul>
    </div>
  </div>
</footer>
