/* Estilos para el componente raíz de la aplicación (app.component.css) */
:host {
  display: flex;
  flex-direction: column;
  min-block-size: 50vh;
}

/* Asegúrate de que el contenido principal ocupe todo el espacio disponible */
main {
  flex: 1 0 auto;
}

/* Estilos para el footer */
footer {
  flex-shrink: 0;
  background-color: #7f8c8d;
  padding: 20px 0;
  margin-top: auto;
}
/*footer {
    position: fixed;
    inset-block-end: 0;
    inline-size: 100%;
    text-align: center;
    background-color: #7f8c8d;
    padding: 10px;
  }*/
.div-contenedor {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.div-contacto {
  inline-size: 20%;
}
.div-sup-derechos {
  display: grid;
  align-items: end;
  inline-size: 50%;
  text-align: center;
  font-size: 14px;
  color: #6c757d;
}
.div-derechos {
  color: #000;
  font-weight: 600;
}

.div-ul-img{
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  inline-size: 30%;
}

.div-ul-img ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.div-ul-img li {
  margin-bottom: 10px;
}

.div-ul-img a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000; /* Cambia el color según tu preferencia */
}

.div-ul-img img {
  margin-right: 8px;
  width: 24px; /* Ajusta el tamaño de la imagen si es necesario */
  height: auto;
  vertical-align: middle;
}

.div-ul-img a:hover {
  color: #154360; /* Cambia el color al pasar el ratón sobre el enlace */
  cursor: pointer;
}

.div-contacto ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.div-contacto li {
  margin-bottom: 10px;
}

.div-contacto a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000; /* Cambia el color según tu preferencia */
}

.div-contacto img {
  margin-right: 8px;
  width: 24px; /* Ajusta el tamaño de la imagen si es necesario */
  height: auto;
  vertical-align: middle;
}

.div-contacto a:hover {
  color: #154360; /* Cambia el color al pasar el ratón sobre el enlace */
  cursor: pointer;
}


footer ul {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 5px;
}

footer ul li {
  display: flex;
  padding: 2px 10px;
}

footer img {
  block-size: 24px;
  inline-size: 24px;
}

.hr-1 {
  inline-size: 40%;
}


.a-redes:hover {
  cursor: pointer;
}



/* Responsive Styles */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 20px 10px;
  }

  .div-ul-img {
    inline-size: 100%;
  }

  footer ul {
    justify-content: center !important;
    display: flex !important;
    flex-direction: row !important;
  }
  footer ul li {
    display: block;
    padding: 5px 0;
  }

  .hr-1,
  .hr-2 {
    inline-size: 100%;
    margin: 10px 0;
    display: none;
  }
}
@media (max-width: 480px) {
  .div-contenedor{
    display: grid;
  }
  .div-contacto {
    inline-size: 100%;
  }
  .div-sup-derechos {
    inline-size: 100%;
  }
  .div-derechos {
    margin-block-end: 8px;
  }
  .div-ul-img {
    inline-size: 100%;
  }
  li {
    margin-inline-end: 5px;
  }

  .div-ul-img ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .div-ul-img li {
    flex: 1 1 45%;
    margin-bottom: 15px;
  }
}
