<app-header></app-header>
<div class="contenedor-total">
    <div class="div-titulo"><h1>Lleva tu negocio en el orden que merece</h1></div>
    <div class="div-opcion">
        <div class="div-opcion-left">
            <div class="div-img">
                <img src="../../../assets/proteger.png" alt="">
            </div>
            <div class="div-text">
                <h3>La seguridad es lo primero</h3>
                <p>Toda la información de tu negocio en tu celular, almacenada de manera segura en la nube. ¡No corras el riesgo de anotar todo en tu cuaderno y luego perderlo!</p>
            </div>
        </div>
        <div class="div-opcion-right">
            <div class="div-img">
                <img src="../../../assets/grafico-de-barras.png" alt="">
            </div>
            <div class="div-text">
                <h3>Toma mejores decisiones de negocio</h3>
                <p>Somos más que una app de registros. Recibe reportes y estadísticas para tener el control total de las finanzas de tu negocio.</p>
            </div>
        </div>
    </div>
    <div class="div-opcion">
        <div class="div-opcion-left">
            <div class="div-img">
                <img src="../../../assets/facil-uso.png" alt="">
            </div>
            <div class="div-text">
                <h3>Súper fácil de usar</h3>
                <p>No necesitas ser un ninja en Excel para llevar tus finanzas. ¡En Treinta te la ponemos fácil!</p>
            </div>
        </div>
        <div class="div-opcion-right">
            <div class="div-img">
                <img src="../../../assets/evaluacion.png" alt="">
            </div>
            <div class="div-text">
                <h3>Control total de tu negocio</h3>
                <p>Registra absolutamente todo lo que sucede en tu negocio, controla lo que tus empleados pueden registrar y ver.</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>