.div-superior {
  background: #f9f9f9;
  border-radius: 20px;
  block-size: 38vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size: 80%;
  text-align: center;
}
.div-button {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.button-1 {
  background-color: #007bff;
  block-size: 50px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  inline-size: 220px;
  font-size: larger;
  padding: 10px 15px;
}
.button1:hover {
  background-color: #0056b3;
  cursor: pointer;
}
@media (max-width: 600px) {
  .div-superior {
    block-size: 25vh;
    gap: 50px;
  }
  .button-1,
  .button-2 {
    block-size: 46px;
    inline-size: 148px;
  }
}
