.div-principal {
  display: flex;
  inline-size: 60%;
  block-size: 40%;
  background: #f9f9f9;
  align-content: center;
  align-items: end;
  flex-direction: column;
  position: relative;
}
.div-1 {
  block-size: 20%;
  display: flex;
  flex-direction: row;
  inline-size: 100%;
}
.div-h2 {
  inline-size: 90%;
  background: #fff;
}
h2 {
  color: #000;
  font: caption;
  font-size: 22px;
  margin-inline-start: 11px;
}
.div-cancel {
  align-items: center;
  block-size: 100%;
  background: #fff;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  inline-size: 10%;
}
.div-cancel button {
  position: static;
}
.div-exp {
  block-size: 42%;
  inline-size: 100%;
}
.button-exp {
  align-items: center;
  background: #fff;
  border: 1px #f0f0f0 solid;
  block-size: 100%;
  display: flex;
  inline-size: 100%;
  justify-content: center;
  font-size: 24px;
}
.button-exp2 {
  align-items: center;
  background: #fff;
  border: 1px #f0f0f0 solid;
  block-size: 100%;
  display: flex;
  inline-size: 100%;
  font-size: 24px;
  justify-content: center;
}

.button-exp3 {
  background: #babebd;
  block-size: 70%;
  border: none; /* Sin borde */
  border-radius: 30px;
  color: #fff; /* Rojo atractivo para la X */
  cursor: pointer; /* Cambia el cursor a mano */
  font-size: 24px; /* Tamaño de la X */
  font-weight: bold;
  inline-size: 66%;
  transition: color 0.3s ease; /* Transición suave al cambiar color */
  padding: 5px;
}
.button-exp:hover {
  cursor: pointer;
}
.button-exp2:hover {
  cursor: pointer;
}
.button-exp3:hover {
  color: #ff1a1a; /* Cambio de color al pasar el mouse */
  cursor: pointer;
}

.button-exp3:focus {
  outline: none; /* Quita el contorno al hacer foco */
}
.div-2 {
  align-items: center;
  background: #e0ecfa;
  block-size: 20%;
  display: flex;
  flex-direction: row;
  inline-size: 100%;
  justify-content: flex-start;
}
.div-2 p {
  color: #69abf4;
  font-size: 17px;
  font-weight: bolder;
}
.div-2 img {
  margin-inline-end: 7px;
  margin-inline-start: 7px;
}
.div-3{
  block-size: 60%;
  inline-size: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div-exp button img{
  margin-inline-end: 10px;
}
@media (max-width: 600px) {
  .div-principal {
    inline-size: 70%;
    block-size: 35%;
  }
  .button-exp3{
    block-size: 53%;
    inline-size: 90%;
  }
  .div-3{
    flex-direction: column;
  }
}
