<app-navbar></app-navbar>
<div class="container-sup">
  <div class="div-dashboard">
    <div class="div-ref">
      <h3>Total de referencias</h3>
      <p>{{ totalProductos }}</p>
    </div>
    <div class="div-total">
      <h3>Costo total</h3>
      <p>{{ costoTotal | currency }}</p>
    </div>
  </div>
  <div class="div-opcion">
    <div class="div-option-1">
      <div class="option-button">
        <button class="button1" type="button" (click)="onOpenCrearProducto()">
          <i class="fas fa-plus"></i><span class="text">Crear Producto</span>
        </button>
        <button class="button1" type="button" (click)="onOpenCrearCategoria()">
          <i class="fas fa-plus"></i><span class="text">Crear Categoría</span>
        </button>
        <button class="button2" type="button" (click)="onOpenExpInventario()">
          <i class="fas fa-download"></i
          ><span class="text">Descargar Reporte</span>
        </button>
      </div>
      <div class="option-buscar">
        <input
          class="input-button-search"
          type="search"
          placeholder="Buscar..."
        />
      </div>
    </div>
    <div class="div-option-2">
      <div class="option-1">
        <button class="button3" type="button" (click)="onOpenGetCategoria()">
          <i class="fas fa-pencil"></i
          ><span class="text">Editar Categoría</span>
        </button>
      </div>
      <div class="slider-container">
        <button class="prev-btn" (click)="movePrev()">&#10094;</button>
        <div class="option-2" #slider>
          <button class="button4" type="button" (click)="cargarProductos()">
            Ver todos
          </button>
          <button
            class="button4"
            *ngFor="let categoria of categorias"
            type="button"
            (click)="filtrarProductos(categoria.nombre)"
          >
            {{ categoria.nombre }}
          </button>
        </div>
        <button class="next-btn" (click)="moveNext()">&#10095;</button>
      </div>
    </div>
    <div *ngIf="mensajeSinResultados" class="div-null">
      <p>{{ mensajeSinResultados }}</p>
    </div>
    <div
      *ngIf="!mensajeSinResultados && productos.length > 0"
      class="div-option-3"
    >
      <div *ngFor="let producto of paginatedProductos" class="option3-1">
        <div class="div-img-slider">
          <div
            *ngFor="let imagen of producto.imagen; let i = index"
            class="div-img"
            [ngClass]="{ active: i === producto.activeImageIndex }"
          >
            <img class="img-data" [src]="'/storage/' + imagen" alt="" />
          </div>
          <button class="slider-prev" (click)="prevImage(producto)">‹</button>
          <button class="slider-next" (click)="nextImage(producto)">›</button>
          <!--<button class="slider-prev">‹</button>
          <button class="slider-next">›</button>-->
        </div>
        <div class="div-data">
          <div class="div-nombre">
            <p class="p-nombre">{{ producto.nombre }}</p>
          </div>
          <div class="div-p">
            <p class="p-productos">
              {{ producto.cantidad_disponible }} Disponibles
            </p>
          </div>
          <div class="div-p">
            <p class="p-productos">
              Costo unitario
              <strong>{{ producto.costo_unidad | currency }}</strong>
            </p>
          </div>
          <div class="div-p">
            <p class="p-productos">
              Precio unitario
              <strong>{{ producto.precio_unidad | currency }}</strong>
            </p>
          </div>
          <div class="div-opcion-pro">
            <button
              class="button-option"
              type="menu"
              (click)="toggleOptionPro(producto)"
            >
              <img src="../../../assets/opcion.png" />
            </button>
            <div
              [ngClass]="{
                'div-opcion-pro2': true,
                show: producto.isOptionPro
              }"
            >
              <a class="a-option" (click)="onOpenEliminarProducto(producto)"
                >Borrar</a
              >
              <a class="a-option" (click)="onOpenEditarProducto(producto)"
                >Editar</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Anterior
    </button>
    <button
      *ngFor="let page of [].constructor(totalPages); let i = index"
      (click)="changePage(i + 1)"
      [class.active]="i + 1 === currentPage"
    >
      {{ i + 1 }}
    </button>
    <button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      Siguiente
    </button>
  </div>
  <!-- Mostrar app-crearproducto cuando mostrarCrearProducto sea true -->
  <app-crearproducto
    *ngIf="isCrearProductoVisible"
    (close)="onCloseCrearProducto()"
    class="crear-producto-overlay"
  ></app-crearproducto>
  <app-crearcategoria
    *ngIf="isCrearCategoriaVisible"
    (close)="onCloseCrearCategoria()"
    class="crear-producto-overlay"
  ></app-crearcategoria>
  <app-expinventario
    *ngIf="isExpInventario"
    (close)="onCloseExpInventario()"
    class="crear-producto-overlay"
  ></app-expinventario>
  <app-getcategoria
    *ngIf="isGetCategoria"
    class="crear-producto-overlay"
    [categorias]="categorias"
    (close)="onCloseGetCategoria()"
  ></app-getcategoria>
  <app-eliminarproducto
    *ngIf="isEliminarProducto"
    [idProducto]="productoAEliminar?.id"
    [nombreProducto]="productoAEliminar?.nombre"
    (close)="onCloseEliminarProducto()"
    (eliminacionCompleta)="onProductoEliminado()"
    class="crear-producto-overlay"
  ></app-eliminarproducto>
  <app-editarproducto
    *ngIf="isEditarProducto"
    [idProducto]="productoAEditar?.id"
    [nombreProducto]="productoAEditar?.nombre"
    [descripcionProducto]="productoAEditar?.descripcion"
    [precioUnidadProducto]="productoAEditar?.precio_unidad"
    [costoUnidadProducto]="productoAEditar?.costo_unidad"
    [codigoProducto]="productoAEditar?.codigo"
    [cantidadProducto]="productoAEditar?.cantidad_disponible"
    [imagenProducto]="productoAEditar?.imagen"
    [categoriaProducto]="productoAEditar?.categoria"
    [nombreProducto]="productoAEditar?.nombre"
    (close)="onCloseEditarProducto()"
    class="crear-producto-overlay"
  ></app-editarproducto>
</div>
<app-footer></app-footer>
