header {
  background: #fdfefe;
}

.contenedor-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  block-size: 100vh;
  padding: 0 20px;
  background-color: #f7f7f7; /* Fondo claro para resaltar la sombra */
  border-radius: 10px; /* Bordes ligeramente redondeados */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra inicial suave */
  opacity: 0;
  transform: translateY(20px); /* Desplazado ligeramente hacia abajo */
  animation: fadeInAndRise 1.5s ease forwards,
    colorPulse 5s ease-in-out infinite;
padding-block-start: 80px; /* Añade un margen superior para compensar la altura de la barra de navegación fija */

}

/* Animación de entrada */
@keyframes fadeInAndRise {
  to {
    opacity: 1;
    transform: translateY(0); /* Sube a su posición original */
  }
}

/* Animación de color */
@keyframes colorPulse {
  0%,
  100% {
    background-color: #f7f7f7; /* Color original */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra inicial */
  }
  50% {
    background-color: #e0f7fa; /* Color sutilmente diferente */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
  }
}

.div-header {
  max-inline-size: 600px; /* Limita el ancho máximo del contenido */
  margin: 0 auto;
}

.div-header h1 {
  font-size: 2rem;
  margin-block-end: 20px;
  font-weight: 600;
}

.div-header p {
  font-size: 1.2rem;
  margin-block-end: 20px;
}

.div-header a {
  display: inline-block;
  margin-block-start: 20px;
  padding: 10px 20px;
  background-color: #00796b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.div-header a:hover {
  background-color: #004d40; /* Más oscuro al pasar el mouse */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Sombra más profunda al pasar el mouse */
  cursor: pointer;
}

/* Estilos responsivos */
@media (max-width: 768px) {
 
  .contenedor-texto {
    padding: 20px; /* Más espacio alrededor del contenido en pantallas pequeñas */
    block-size: 32vh;
  }

  .div-header h1 {
    font-size: 1.5rem;
  }

  .div-header p {
    font-size: 1rem;
  }

  .div-header a {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
